@model ImageApp.Application.DTOs.Photos.PhotoSearchResponse

@{
    ViewData["Title"] = "Photo Feed";
    var q = ViewBag.Q as string;
}

<h2>Photo Feed</h2>

<form method="get" class="mt-3 mb-4" style="max-width:520px;">
    <div class="input-group">
        <input name="q" class="form-control" value="@q" placeholder="Search photos..." />
        <input type="hidden" name="pageSize" value="@Model.PageSize" />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>

@if (!Model.Items.Any())
{
    <p class="text-muted">No photos found.</p>
}
else
{
    <div class="grid">
        @foreach (var p in Model.Items)
        {
            <a class="card" href="/photos/@p.Id">
                <img src="@p.ThumbnailUrl" alt="@p.Title" />
                <div class="meta">
                    <div class="title">@p.Title</div>
                    <div class="sub">
                        Rating: @p.AverageRating (@p.TotalRatings)
                    </div>
                </div>
            </a>
        }
    </div>
    
    @await Html.PartialAsync("_Pager", Model)
}
